<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nan.javaonlinetradingsystem.mapper.OrdersMapper">

    <!-- 配置 ResultMap 映射表 -->
    <resultMap id="OrdersResult" type="com.nan.javaonlinetradingsystem.domain.Orders">
        <result property="orderID" column="OrderID"/>
        <result property="userID" column="UserID"/>
        <result property="orderDate" column="OrderDate"/>
        <result property="totalAmount" column="TotalAmount"/>
        <result property="orderStatus" column="OrderStatus"/>
    </resultMap>

    <!-- 插入新订单 -->
    <insert id="insertOrder" parameterType="com.nan.javaonlinetradingsystem.domain.Orders">
        INSERT INTO Orders (OrderID, UserID, OrderDate, TotalAmount, OrderStatus)
        VALUES (#{orderID}, #{userID}, #{orderDate}, #{totalAmount}, #{orderStatus})
    </insert>

    <!-- 查询所有订单 -->
    <select id="selectAllOrders" resultMap="OrdersResult">
        SELECT * FROM Orders
    </select>

    <!-- 根据订单ID查询订单 -->
    <select id="selectOrderById" parameterType="java.lang.Integer" resultMap="OrdersResult">
        SELECT * FROM Orders WHERE OrderID = #{id}
    </select>

    <!-- 更新订单信息 -->
    <update id="updateOrder" parameterType="com.nan.javaonlinetradingsystem.domain.Orders">
        UPDATE Orders
        <set>
            <if test="userID != null">UserID = #{userID},</if>
            <if test="orderDate != null">OrderDate = #{orderDate},</if>
            <if test="totalAmount != null">TotalAmount = #{totalAmount},</if>
            <if test="orderStatus != null">OrderStatus = #{orderStatus}</if>
        </set>
        WHERE OrderID = #{orderID}
    </update>

    <!-- 根据订单ID删除订单 -->
    <delete id="deleteOrderById" parameterType="java.lang.Integer">
        DELETE FROM Orders WHERE OrderID = #{id}
    </delete>

    <!-- 根据用户ID查询订单 -->
    <select id="selectOrdersByUserId" parameterType="java.lang.Integer" resultMap="OrdersResult">
        SELECT * FROM Orders WHERE UserID = #{userId}
    </select>

    <!-- 根据订单状态查询订单 -->
    <select id="selectOrdersByStatus" parameterType="java.lang.String" resultMap="OrdersResult">
        SELECT * FROM Orders WHERE OrderStatus = #{status}
    </select>

</mapper>